/* Estilos Gerais */

.body{
    font-family: Arial, Helvetica, sans-serif;
	height: 1057px;
	width: 464px;
	position: relative;
	background: white;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.logo{
	position: absolute;
	left: 36.85%;
	right: 36.53%;
	top: 3.41%;
	bottom: 93.13%;
}

.como_pagar{
	position: absolute;
	width: 325px;
	height: 33px;
	left: 70px;
	top: 113px;

	font-family:'Nunito';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 33px;
}

.pix{
	box-sizing: border-box;

	position: absolute;
	width: 429px;
	height: 137px;
	left: 15px;
	top: 178px;

	background: #FFFFFF;
	border: 2px solid #E5E5E5;
	border-radius: 10px;
}

.pix_txt{
	position: absolute;
	width: 29px;
	height: 20px;
	left: 66px;
	top: 165px;

	font-family: 'Nunito';
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
}

.ret_pix{
	position: absolute;
	width: 47px;
	height: 20px;
	left: 56px;
	top: 167px;

	font-family: 'Nunito';
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;

	background: #E5E5E5;
	border-radius: 100px;
}